{# partial template ~ footer #}

{% extends "../templates/layout.html.twig" %}

{% block header %}

    <header class="header">
        <div class="header-wrapper">
            <div class="block-region-header">Header</div>
        </div>
    </header>

{% endblock %}




