{% extends 'layout.html.twig' %}

{% block body %}
	{% if (status == "true" or status == "false") %}
		<i>{{ message }}</i>
	{% endif %}
	<div class="home__form mt-5 d-flex justify-content-center">
		<form enctype="multipart/form-data" action="article-insert" class="p-4" method="POST">
			<h5 class='mb-4 text-muted'>Article</h5>
			<div class="home__input mb-3">
				<label class="form-label">Title</label>
				<input type="text" name="article-title" class="form-control" autocomplete="off"/>
			</div>

			<div class="home__input mb-3">
				<label>Body</label>
				<textarea class="form-control" name="article-description" id="editor" cols="30" rows="10"></textarea>
			</div>

			<div class="home__input mb-3">
				<label>Category</label>
				<input type="text" name="article-category" class="form-control" autocomplete="off"/>
			</div>

			<div class="home__input mb-3">
				<label>Image</label>
				<input type="file" name="article_image" class = "form-control">
			</div>

			<button type="submit" name="submitBtn" class="btn btn-secondary">Submit</button>
		</form>
	</div>

{% endblock %}
