{% extends 'layout.html.twig' %}

{% block body %}

	{% for r in result %}
		<div class="article__section">
			<div class="article__main">
				<div class="article__image">
					<img src="{{ r.image }}" alt="">
				</div>
				<div class="articlecontent__wrapper d-flex">

					<div class="article__container">


						<div class="article__title">
							<h3 class="display-6 pt-4 pb-2">{{ r.title }}</h3>
						</div>
						<div class="article__body">
							<p class="lead p-4">
								{{ r.body }}
							</p>
						</div>
						<div class="article__category">
							<p class="display-4 p-4 text-white">
								{{ r.category }}
							</p>
						</div>
						<div class="article__related text-center">
							related articles
						</div>

					</div>
					<div class="sidebar-content">
						{% include "sidebar.html.twig" %}
					</div>
				</div>
			</div>
		</div>
	{% endfor %}


{% endblock %}
