{% extends 'layout.html.twig' %}

{% block body %}

<div class = ""> 
    <div class = "row">
        <div class = "article-content col-8">
            hello
        </div>

        <div class = "sidebar-content col-4">
            {% include "sidebar.html.twig" %}
        </div>
    </div>
</div>



{% endblock %}