{% extends 'layout.html.twig' %}

{% block body %}
	<div class="home__form mt-5 d-flex justify-content-center">
		<form action="" class = "p-4" method = "POST">
			<div class="home__input mb-3">
				<label class="form-label">Title</label>
				<input type="text" name="block-title" class="form-control" autocomplete = "off"/>
			</div>

			<div class="home__input mb-3">
				<label>Body</label>
                <textarea class="form-control" name="block-description" id="editor" cols="30" rows="10"></textarea>
			</div>

            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div>

			<button type="submit" name="submitBtn" class="btn btn-secondary">Submit</button>
		</form>
	</div>
{% endblock %}