{% extends 'layout.html.twig' %}

{% block body %}
	{% if (status == "true" or status == "false") %}
		<i>{{ message }}</i>
	{% endif %}
  <details class="logo_details mt-2 mb-2 border rounded d-flex">
    <h5>
      Logo Image
    </h5>
    <div class="js-form-item form-item">
      <form enctype="multipart/form-data"
        action="config"
        class="p-4 d-flex flex-column"
        method="POST">
        <input aria-describedby="edit-logo-upload--description"
          type="file"
          id="edit-logo-upload"
          name="logo_upload"
          size="60"
          class="js-form-file form-file" />
        <input id="edit-site-name"
          name="site_name"
          class="js-form-file form-file mt-3 w-50"
          placeholder="Site Name" />
        <button type="submit" name="submitBtn" class="btn sumbit-btn">
          Submit
        </button>
      </form>
    </div>
  </details>
{% endblock %}
