{% extends 'layout.html.twig' %}

{% block body %}
	<h5 class="text-center contacts__heading">
		Contacts
	</h5>
	<div class="info__details">
		<ul
			class="align-items-center">

			{% for r in result %}
				<div class="info__details-item">
					<li class='text-white'>{{ r.title }}</li>
					<li class='text-white'>{{ r.body }}</li>
				</div>
			{% endfor %}

		</ul>
	</div>


{% endblock %}
