<div class="content-region container border border-primary mt-4">
   <h3> Content Region </h3>
    <div class="inner-section section1 mt-1">Section 1</div>
    <div class="inner-section section2 mt-1">Section 2</div>
    <div class="inner-section section3 mt-1">Section 3</div>
</div>  