<footer>

	<div class="footer__container">


		<div class="footer__box1">
			<div class="footerBox1__logoBox"></div>
			<div class="footerBox1__aboutInfo"></div>
			<div class="footerBox1__socialBox"></div>
		</div>

		<div class="footer__box2">
			<div class="footerBox2__menuContainer"></div>
		</div>

	</div>

	<div class="footer__copyrightContainer"></div>


</footer>
