
<header class="header">
    <div class="header-wrapper">

        <div class="block-region-header">

        <div class="logo"> LOGO</div>
    	<div class="navbar-links">
        <nav class="p-3 bg-secondary">
			<ul class="nav d-flex justify-content-center">
                {% for r in result %}
				<li class="nav-item">
					<a href="{{ r.title }}" class="nav-link active text-white">
						{{ r.title }}
					</a>
				</li>
                {% endfor %}
				
				{# <li class="nav-item">
					<a href="home" class="nav-link active text-white">
						Home
					</a>
				</li>
				<li>
					<a href="contact" class="nav-link text-white">
						Contacts
					</a>
				</li>
				<li>
					<a href="block-form" class="nav-link text-white">
						Add a block
					</a>
				</li>
				<li>
					<a href="block-info" class="nav-link text-white">
						Blocks
					</a>
				</li> #}
			</ul>
		</nav>
            </div>
            <div class="user-auth-btns"> 
                <div>LOGIN/SIGNUP</div>
            </div>
            
        </div>

    </div>
</header>





