{# Admin Navbar Menu #}
{% if role == 'admin' %}

	<div class="admin__navbarContainer">
		<div class="admin__navbar p-2 bg-dark">

			<ul class="nav d-flex justify-content-start">
				<li>
					<a href="home" class="nav-link text-white">
						{{ username }}
					</a>
				</li>
				<li>
					<a href="user-info" class="nav-link text-white">
						Users
					</a>
				</li>
			</ul>
		</div>
	</div>

{% endif %}

<header class="header bg-light">

	<div class="header-wrapper bg-light">

		<div class="block-region-header">

			<div class="logo bg-light">
				<div class="logo__container">
					<a href="home">
						<img src="assets/images/logo/logo.png" alt="">
					</a>
				</div>
			</div>
			<div class="navbar-links">
				<nav class="p-3 bg-light">
					<ul class="nav d-flex justify-content-center">
						{% for nav_link in nav_links %}
							<li class="nav-item">
								<a href="{{ nav_link.link }}" class="nav-link active text-dark">
									{{ nav_link.title }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</nav>
			</div>
			<div class="user-auth-btns bg-light">
				<div>
					<ul class="nav d-flex justify-content-center">
						<li>
							{% if authenticated_userId %}
								<a href="home" class="nav-link text-white">
									{{ username }}
								</a>
							{% else %}
								<a href="login" class="nav-link text-black text-white">
									Login
								</a>
							{% endif %}
						</li>
						<li>
							{% if authenticated_userId %}
								<a href="logout" class="nav-link text-white">
									Logout
								</a>
							{% else %}
								<a href="register" class="nav-link text-white">
									Register
								</a>
							{% endif %}
						</li>
					</ul>
				</nav>
			</div>
		</div>

	</div>

</div></header>
