<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Twig Example</title>
</head>
<body>
    <h2>Home</h2>
    <h3>{{  name }}</h3>
    <ul>
        {% for item in foo %}
            <li>{{ item.name }}</li>
        {% endfor %}
    </ul>

</body>
</html>