{% extends 'layout.html.twig' %}


{% block body %}
	{% if (status == "true" or status == "false") %}
		<i>{{ message }}</i>
	{% endif %}

		<div class="container mt-5 login_container">
			<div class="col-md-6 order-md-last pr-md-5">
				<h1 class="text-center">LOGIN</h1>
				<form action="login-insert" method="POST" class="border-0 login-form">
					<div class="form-group mb-3">
						<input type="text" name="userName" class="form-control rounded-0 frm_input" placeholder="Username">
					</div>
					<div class="form-group mb-3">
						<input type="password" name="userPassword" class="form-control rounded-0 frm_input" placeholder="Password">
					</div>
					<div class="form-group">
						<input type="submit" name="submitBtn" value="Send Message" class="btn btn-primary py-3 px-5 sumbit-btn">
					</div>
				</form>
			</div>
		</div>

	
{% endblock %}
