{% extends 'layout.html.twig' %}

{% block body %}
	<div class="home__form mt-5 d-flex justify-content-center">
		<form action="/custom-cms/menu-insert" class = "p-4" method = "POST">
			<div class="home__input mb-3">
				<label class="form-label">Title</label>
				<input type="text" name="menu-title" class="form-control" autocomplete = "off" required/>
			</div>

			<div class="home__input mb-3">
				<label>Description</label>
                <textarea class="form-control" name="menu-description" id="editor" cols="30" rows="10" required></textarea>
			</div>

			<button type="submit" name="submitBtn" class="btn btn-secondary">Submit</button>
		</form>
	</div>
{% endblock %}