{% extends "layout.html.twig"%}

{% block body %}
	<h4 class="text-center">
		Menus
	</h4>
	<ul class="d-flex flex-column align-items-center justify-content-center list-unstyled">
	{% for r in result %}
		<div class="info__details-item justify-content-between  border border-dark bg-light">
			<li class='text-black'>{{ r.title }}</li>
			<li class='text-black'>{{ r.link }}</li>
		</div>
	{% endfor %}
	</ul>
{% endblock %}
