{% extends 'layout.html.twig' %}


{% block body %}

	<div class="container mt-5 login_container">
		<div class="col-xl-5 col-lg-6 col-md-8 col-sm-12 col-12">
			<h1 class="text-center">REGISTER</h1>
			<form action="register-insert" method="POST" class="border-0 login-form">
				<div class="form-group mb-3">
					<input type="text" name="userName" class="form-control rounded-0 frm_input" placeholder="Username" autocomplete="off">
				</div>
				<div class="form-group mb-3">
					<input type="password" name="userPassword" class="form-control rounded-0 frm_input" placeholder="Password">
				</div>
				<div class="form-group mb-3">
					<input type="password" name="userConfirmPassword" class="form-control rounded-0 frm_input" placeholder="Confirm Password">
				</div>
				<div class="form-group mb-3">
					<input type="hidden" name="role" value="authenticated"/>
				</div>
				<div class="form-group my-2 d-flex">
					<input type="submit" name="submitBtn" value="Register" class="btn btn-primary mx-auto sumbit-btn">
				</div>
			</form>
		</div>
	</div>

{% endblock %}
