{% extends 'layout.html.twig' %}

{% block body %}

	<div class="search__wrapper">

		<div class="search__container">
			{% for r in result %}
				<div class="search__item">
					<div class="image">
						<img src="{{ r.image }}" alt="" srcset="">
					</div>
					<div class="title">{{ r.title }}</div>
					<div class="body">{{ r.body }}</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
