<div class="sidebar-region mt-4 container"> 
    <div class="sidebar-block-region"> 
        <div class="position-sticky" style="top: 2rem;">
            <div class="sidebar-search">
                <form action="#" class="search-form">
                    <div class="form-group d-flex flex-row-reverse">
                        <span class="fas fa-search"></span>
                        <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                    </div>
                </form>
            </div>

            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="fst-italic">About</h4>
                <p class="mb-0">A content management system (CMS) is a computer software used to manage the creation and modification of digital content (content management).[1][2][3] A CMS is typically used for enterprise content management (ECM) and web content management (WCM).</p>

            </div>
            
            <div class="p-4 social-icons">
                <h4 class="fst-italic">Elsewhere</h4>
                <ol class="list-unstyled d-flex justify-content-between">
                    <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-google"></i></a>
                    </li>
                     <li>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
<div>