{% extends "layout.html.twig"%}

{% block body %}
	<h4>
		Users display page
	</h4>
	{% for r in result %}
		<div class="info__details-item">
			<li class='text-white'>{{ r.username }}</li>
			<li class='text-white'>{{ r.roles }}</li>
		</div>
	{% endfor %}
{% endblock %}