html,
body {
    overflow-x: hidden;
}


@import "abstract/colors";
@import "components/adminNavbar";
@import "layout/header";
@import "components/_searchComponent";
@import "./layout/content";
@import "components/_contentPage";
@import "components/card";
@import "./layout/login-register";
@import "layout/_articleLayout";
@import "components/articleComponent";
@import "./layout/sidebar";
@import "./layout/config";
@import "./layout/block";
@import "./layout/footer";
@import "./components/banner";


.region-wrapper {
    display: flex;
    padding: 10px;
}
.required::after{
    content: "*Field required";
    color: red;
    font-size: 12px;
}