.logo{
    display: flex;
    justify-content: center;
    .logo__container{
        height: 3rem;
        width: 3rem;
        a img{
            height: 100%;
            width: 100%;

            &:hover {
                transition: transform .7s ease-in-out;
                transform: rotate(360deg);
            }
        }
    }
}