@import "../abstract/colors";

.content-region {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  margin-left: 0;
  // width: 100%;
  // margin-right: 0.8rem;
}

.section1 {
  height: 50%;
  max-height: 400px;
  display: flex;
  justify-content: center;
  img {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    object-fit: cover;
  }
}

.home__heading {
  display: flex;
  justify-content: center;
  h4 {
    max-width: 1300px;
  }
}

// .section2 {
//     // height: 100%;
//     // border: 1px solid purple;
// }

@import "../components/topicWiseBlogs";
