footer {
  display: flex;
  justify-content: center;
  background-color: $footer;
  margin: 0 auto;

}

.footer-wrapper{
  width: 100%;
  max-width: 1300px;
  // background-color: $footer;
}

.footer__container {
  display: flex;

  .footer__box1 {
    padding: 2rem;
    width: 50%;
    height: 100%;

    .logo__container {
      width: 20%;
      img {
        height: 100%;
      }
    }

    .footerBox1__socialBox {
      .socialBox__container {
        ul {
          display: flex;
          padding: 0;
          margin: 0;
          li {
            list-style: none;
            margin-right: 1rem;
            i {
              color: $primary;
              transition: 0.25s ease-in;
              &:hover {
                color: white;
              }
            }
          }
        }
      }
    }
  }

  .footer__box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 50%;

    & p,i {
      color: white;
    }
    & p  {
      display: flex;
      align-items: center;
      font-size: 1.1rem;
      min-width: 300px;
      & i {
        font-size: 1.2rem;
        width: 50px;
        height: 50px;
        padding: 9px 15px;
        margin-right: 1rem;
        background-color: #403b41;
        border-radius: 100%;
      }
    }
    & .address span {
      display: inline-grid;
    }
    .contact span{
      font-weight: 600;
      padding-left: 5px;
    }

    .mail a{
      font-weight: 600;
      color: #7952b3;
      text-decoration: none;
    }

  }
}

.footer__copyrightContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem 0;
  width: 100%;
  background-color: $footer;
}

// Media queries
@media only screen and (max-width: 769px) {
  .footer__container {
    flex-direction: column;
    .footer__box1,
    .footer__box2 {
      align-items: flex-start;
      width: 100%;
    }

  }
}

@media only screen and (max-width: 426px) {

  .footer__copyrightContainer{
    padding:2rem;
    p{
      text-align: center;
    }
  }

}
