@import "../components/logo";

.main-nav {
  @media (min-width: 1200px) {
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 1300px;
  }

  & .navbar-nav .nav-item:hover a {
    color: $primary !important;
  }

  

  .user-auth-btns button {
    background-color: $primary;
    border-radius: 6px;
    border-color: transparent;
    padding: 0;
    &:hover {
      background-color: transparent;
      color: $primary !important;
      border-color: $primary;
    }
    & a {
      display: inline-block;
      width: 100%;
      padding: 7px 12px;
      text-decoration: none;
      color: inherit;
    }
  }
  & .navbar-toggler {
    background-color: $primary;
  }

 
}

@media only screen and (max-width: 992px) {
  .main-nav .search__form{
    width: 100%;
  }
}