@import '../components/logo';

.header {
    width: 100%;
    display: flex;
    justify-content:center;
    background: aliceblue;
}
.header-wrapper {
    width: 100%;
    max-width: 1300px;
}
.block-region-header {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;

    .logo {
        width: 25%;
        background: antiquewhite;
    }
    .navbar-links {
        width: 50%;
        background: cadetblue;
 
    }
    .user-auth-btns {
        width: 25%;
        ul{
            li a{
                background-color:#FB885C;
                margin-right: 1rem;
                border-radius: 6px;

                &:hover {
                    border: 1px solid #ff895d;
                    background: transparent;
                    color: #ff895d !important;
                }
            }
        }
    }
}