.login_container {
    display: flex;
    justify-content: center;

    h1 {
        font-weight: 600;
        color: #fb885c;
    }
    .login-form {
        width: 100%;
    }

    .frm_input {
        height: 3rem;
        font-size: 15px;
        font-family: "Poppins", Arial,sans-serif;
    }
    
    .sumbit-btn {
        min-width: 100px;
        height: 50px;
        font-weight: 600;
        border-radius: 6px;
        background: #ff895d;
        border: 1px solid #ff895d;
        color: #fff;

        &:hover {
            border: 1px solid #ff895d;
            background: transparent;
            color: #ff895d;
        }
    }
}