.admin__navbarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.admin__navbarContainer .admin__navbar {
  width: 100%;
  max-width: 1300px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo .logo__container {
  height: 3rem;
  width: 3rem;
}

.logo .logo__container a img {
  height: 100%;
  width: 100%;
}

.logo .logo__container a img:hover {
  -webkit-transition: -webkit-transform .7s ease-in-out;
  transition: -webkit-transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out, -webkit-transform .7s ease-in-out;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.main-nav .navbar-nav .nav-item:hover a {
  color: #FB885C !important;
}

.main-nav .user-auth-btns button {
  background-color: #FB885C;
  border-radius: 6px;
  border-color: transparent;
}

.main-nav .user-auth-btns button:hover {
  background-color: transparent;
  color: #FB885C !important;
  border-color: #FB885C;
}

.main-nav .user-auth-btns button a {
  text-decoration: none;
  color: inherit;
}

.main-nav .navbar-toggler {
  background-color: #FB885C;
}

.main-nav .user-auth-btns ul li a {
  background-color: #fb885c;
  margin-right: 1rem;
  border-radius: 6px;
  border: 1px solid #ff895d;
}

.main-nav .user-auth-btns ul li a:hover {
  border: 1px solid #ff895d;
  background: transparent;
  color: #ff895d !important;
}

.content-region {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  margin-left: 0;
  width: 100%;
  margin-right: 0.8rem;
}

.section1 {
  height: 50%;
  max-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section1 img {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__heading h4 {
  max-width: 1300px;
}

.inner-section {
  position: relative;
  top: 3rem;
  border-radius: 15px;
}

.topicWise__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fdc9b5;
}

.topicWise__container .section3 .card {
  margin-right: 1rem;
}

.card {
  height: 60vh;
  max-height: 420px;
}

.card .card-body a {
  background-color: #FB885C !important;
  border: none;
}

.card img {
  height: 25vh;
  max-height: 200px;
}

@media only screen and (min-width: 768px) {
  .login_container {
    padding-left: 8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .login_container {
    padding-left: 22rem;
  }
}

.login_container h1 {
  font-weight: 600;
  color: #fb885c;
  margin-left: 3rem;
}

.login_container .login-form {
  width: 19rem;
}

@media only screen and (min-width: 768px) {
  .login_container .login-form {
    width: 28rem;
  }
}

.login_container .frm_input {
  height: 3rem;
  font-size: 15px;
  font-family: "Poppins", Arial,sans-serif;
}

.login_container .sumbit-btn {
  border-radius: 30px;
  background: #ff895d;
  border: 1px solid #ff895d;
  color: #fff;
}

.login_container .sumbit-btn:hover {
  border: 1px solid #ff895d;
  background: transparent;
  color: #ff895d;
}

.sidebar-region {
  border: 1px solid maroon;
  text-align: center;
}

.search-box {
  font-size: 15px;
}

.social-icons .fab {
  padding: 0.5rem;
  font-size: 1.4rem;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.social-icons .fab:hover {
  opacity: 0.7;
}

.social-icons .fa-facebook {
  background: #3B5998;
  color: white;
}

.social-icons .fa-twitter {
  background: #55ACEE;
  color: white;
}

.social-icons .fa-google {
  background: #dd4b39;
  color: white;
}

.social-icons .fa-linkedin {
  background: #007bb5;
  color: white;
}

.block-wrapper h3 {
  font-size: 30px;
  font-family: "Poppins", Arial, sans-serif;
  color: #FB885C;
  font-weight: 600;
}

.block-wrapper form {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid #ddd;
}

.block-wrapper .sumbit-btn {
  border-radius: 30px;
  background: #ff895d;
  border: 1px solid #ff895d;
  color: #fff;
}

.block-wrapper .sumbit-btn:hover {
  border: 1px solid #ff895d;
  background: transparent;
  color: #ff895d;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2B252C;
}

.footer-wrapper {
  width: 100%;
  max-width: 1300px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__container .footer__box1 {
  padding: 2rem;
  width: 35%;
  height: 100%;
}

.footer__container .footer__box1 .logo__container {
  width: 20%;
}

.footer__container .footer__box1 .logo__container img {
  height: 100%;
  width: 100%;
}

.footer__container .footer__box1 .footerBox1__socialBox .socialBox__container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer__container .footer__box1 .footerBox1__socialBox .socialBox__container ul li {
  list-style: none;
  margin-right: 1rem;
}

.footer__container .footer__box1 .footerBox1__socialBox .socialBox__container ul li i {
  color: #FB885C;
  -webkit-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
}

.footer__container .footer__box1 .footerBox1__socialBox .socialBox__container ul li i:hover {
  color: white;
}

.footer__container .footer__box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem;
  width: 65%;
}

.footer__container .footer__box2 .menuBox {
  width: 100%;
}

.footer__container .footer__box2 .menuBox ul li {
  list-style: none;
}

.footer__container .footer__box2 .menuBox ul li a {
  -webkit-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
}

.footer__container .footer__box2 .menuBox ul li a:hover {
  color: #FB885C !important;
}

.footer__copyrightContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: #2B252C;
}

@media only screen and (max-width: 769px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__container .footer__box1,
  .footer__container .footer__box2 {
    width: 100%;
  }
}

@media only screen and (max-width: 426px) {
  .footer__container .footer__box2 {
    padding: 0.5rem;
  }
  .footer__copyrightContainer {
    padding: 2rem;
  }
  .footer__copyrightContainer p {
    text-align: center;
  }
}

.region-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}
/*# sourceMappingURL=main.css.map */