*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info__details ul{
    display: flex;
    flex-direction: column;
}

.info__details ul li{
    list-style: none    ;
}

.info__details-item{
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(64, 128, 187);
    font-weight: bold;
    border-radius: 10px;
}

.contacts__heading{
    margin: 1rem 0;
}

form{
    border: 1px solid grey;
    width:60%;
}
